{% extends "layout.html" %}

{% block  sidebar%}
<div class="flex justify-center items-center flex-col h-screen bg-gray-100 p-6">
    <form method="post" class="bg-gray-50 p-8 rounded-lg shadow-lg w-full max-w-md">
        {% csrf_token %}

        <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Login</h2>
        {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="bg-red-500 text-white p-2 rounded-md mb-2">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-4 ">
            <label for="{{ form.username.id_for_label }}" class="block text-gray-700 font-medium mb-2">Username</label>
            {{ form.username }}
        </div>
        <div class="mb-4">
            <label for="{{ form.password.id_for_label }}" class="block  text-gray-700 font-medium mb-2">Password</label>
            {{ form.password }}
        </div>

        <button type="submit" class="btn btn-primary bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50 transition duration-200 ease-in-out w-full">
            Login
        </button>
    </form>
</div>
{% endblock %}
{% block content %}


{% endblock %}
