{% extends "layout.html" %}
{% block content %}
<div class="p-4  mt-14">
<div class="grid grid-cols-3 gap-4 mb-4">
  <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800 flex-col ">
     <p class="text-2xl text-gray-400 dark:text-gray-50"> {{ user.first_name }} {{ user.last_name }}</p>
     <p class="text-2xl text-gray-400 dark:text-gray-50">Position: {{ profile.role }}</p>
  </div>
</div>

<div class="grid grid-cols-2 gap-4 mb-4">
   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
      No of Employee: {{emp_count}}
     </p>
   </div>
   <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">

     </p>
   </div>
</div>

</div>
{% comment %} <a href="{% url 'apply_for_leave' %}" class="btn btn-primary">Apply for Leave</a> {% endcomment %}
{% endblock %}
