{% extends "layout.html" %}
{% block content %}
<div class="p-4  mt-14">

    <h1 class="text-3xl font-bold text-gray-900 mb-6 text-center">Apply for Leave</h1>
<div class="bg-gray-500 p-6 rounded-lg shadow-lg border border-gray-300 max-w-md mx-auto">
       <!-- Display messages -->
       {% if messages %}
       <div class="space-y-4">
           {% for message in messages %}
               <div class="alert alert-{{ message.tags }} {{ message.extra_tags }}">
                   {{ message }}
               </div>
           {% endfor %}
       </div>
   {% endif %}
      <form method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </form>
</div>

</div>

{% endblock %}
