{% extends "layout.html" %}
{% block content %}
<div class="p-4 border-2 border-orange-500 border-dashed rounded-lg dark:border-gray-700 mt-14">

    <h1 class="text-3xl font-bold text-gray-900 mb-6 text-center">Apply for Leave</h1>
<div class="bg-gray-500 p-6 rounded-lg shadow-lg border border-gray-300 max-w-md mx-auto">
    {% comment %} <form class="max-w-md mx-auto">
        <div class="relative z-0 w-full mb-5 group">
            {{form.startdate}}
            <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Start Date</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            {{form.enddate}}
            <label class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">End Date</label>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Leave Type</label>
            {{form.leavetype}}
        </div>
        <div class="relative z-0 w-full mb-5 group">
            {{form.reason}}
            <label class="peer-focus:font-medium absolute text-sm text-black dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Reason</label>

        </div>

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </form> {% endcomment %}
       <!-- Display messages -->
       {% if messages %}
       <div class="space-y-4">
           {% for message in messages %}
               <div class="alert alert-{{ message.tags }} {{ message.extra_tags }}">
                   {{ message }}
               </div>
           {% endfor %}
       </div>
   {% endif %}
      <form method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </form>
</div>

</div>

{% endblock %}
