{% extends "layout.html" %}
{% block content %}
<div class="p-4 border-2 border-orange-500 border-dashed rounded-lg dark:border-gray-700 mt-14">
<div class="grid grid-cols-3 gap-4 mb-4">
  <div class="flex items-center justify-center h-24 rounded bg-gray-50 dark:bg-gray-800 flex-col ">
     <p class="text-2xl text-gray-400 dark:text-gray-50"> {{ user.first_name }} {{ user.last_name }}</p>
     <p class="text-2xl text-gray-400 dark:text-gray-50">Position: {{ profile.role }}</p>
  </div>
</div>
<div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
  <p class="text-2xl text-gray-400 dark:text-gray-500">
     <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
     </svg>
  </p>
</div>
<div class="grid grid-cols-2 gap-4 mb-4">
  <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
     </p>
  </div>
  <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
     </p>
  </div>
  <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
     </p>
  </div>
  <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
     </p>
  </div>
</div>
<div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
  <p class="text-2xl text-gray-400 dark:text-gray-500">
     <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
     </svg>
  </p>
</div>
<div class="grid grid-cols-2 gap-4">
  <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
     </p>
  </div>
  <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
     </p>
  </div>
  <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
     </p>
  </div>
  <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">
     <p class="text-2xl text-gray-400 dark:text-gray-500">
        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
        </svg>
     </p>
  </div>
</div>
<div></div>
<img src="{{profile.image}}" alt="{{profile.get_full_name}}">
<h1 class= "text-3xl text-center mr-6" >Welcome, {{ profile.get_full_name }}</h1>

<div class="flex place-content-center">

</div>

<h2>Leave Applications</h2>
<ul>
  {% for leave in leave_applications %}
    <li>{{ leave.leave_type }} from {{ leave.start_date }} to {{ leave.end_date }} - Status: {{ leave.status }}</li>
  {% empty %}
    <li>No leave applications found.</li>
  {% endfor %}
</ul>
</div>
{% comment %} <a href="{% url 'apply_for_leave' %}" class="btn btn-primary">Apply for Leave</a> {% endcomment %}
{% endblock %}
